@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  padding: 50px 50px;
}

/************************************************ nav-part ***************************************/
.hero {
  width: 100%;
  height: 80px;
  padding: 0px 100px;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
#navbar .logo {
  height: 20px;
}
#navbar ul {
  display: flex;
  list-style: none;
  gap: 55px;
  padding-right: 250px;
}
#navbar ul li a {
  text-decoration: none;
  color: grey;
}
#navbar ul li a:hover {
  color: black;
}

.nav-cart {
  display: flex;
  gap: 40px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.icon-cart {
  width: 20px;
  height: 20px;
  margin-top: 13px;
}
.icon-cart:hover {
  scale: 1.2;
}

.chart-amount {
  width: 18px;
  height: 18px;
  padding-top: 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: hsl(26, 100%, 55%);
  position: relative;
  z-index: 1;
  left: 70px;
  visibility: hidden;
}
.open-chart-amount {
  visibility: visible;
}
.avatar {
  width: 40px;
}
.avatar:hover {
  background-color: hsl(26, 100%, 55%);
  padding: 2px;
  border-radius: 100px;
}
.line {
  width: 96%;
  height: 2px;
  background: rgb(227, 227, 227);
}
.line-2 {
  width: 100%;
  height: 1.5px;
  background: rgb(227, 227, 227);
}
.basket h2 {
  text-align: left;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 400;
}
.cart-img {
  width: 70px;
  border-radius: 10px;
}

.product-list {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-list-open{
  visibility: visible;
}
.empty{
  padding-top: 100px;
  right: 210px;
  position: fixed;
  z-index: 10;
  width: 330px;
  height: 200px;
  background: white;
  visibility: hidden;
}
.empty-open{
  visibility: visible;
}

.checkout-btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  padding: 10px 80px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
.basket {
  background-color: aqua;
  width: 350px;
  height: 300px;
  text-align: center;
  z-index: 10;
  visibility: hidden;
  position: relative;
  left: 820px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px grey;
}

.open-basket {
  visibility: visible;
}

/************************************************************* main*****************************************/
.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 150px;
}
.previous-btn,
.next-btn {
  width: 40px;
  padding: 10px 10px;
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
.previous-btn:hover,
.next-btn:hover,
.close-btn:hover {
  scale: 1.2;
}
.previous-btn {
  position: relative;
  top: 280px;
  right: 20px;
}
.next-btn {
  position: relative;
  top: 243px;
  left: 420px;
}

.close-btn {
  width: 40px;
  color: aqua;
  position: relative;
  top: 70px;
  left: 410px;
  background: transparent;
  border: none;
}

/************************************images-part*****************************/
.product-images {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.main-img,
.main-img-lightbox {
  width: 440px;
  border-radius: 20px;
}

.select-img {
  padding-top: 10px;
  display: flex;
  gap: 30px;
}
.other-img {
  margin-top: 18px;
  width: 87px;
  border-radius: 20px;
}
.other-img:hover {
  filter: opacity(40%);
}
/**********************************lightbox*********************************************/

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 8, 8, 0.7);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.lightbox-open {
  visibility: visible;
  z-index: 10;
}

/**********************************description**********************************/
.product-desc {
  margin-right: 130px;
  padding: 30px 0px;
}
.product-desc h3 {
  color: hsl(26, 100%, 55%);
  padding-bottom: 20px;
}
.product-desc h1,
p {
  padding-bottom: 20px;
}
.product-desc h1 {
  font-size: 42px;
}
.price h2,
h1 {
  display: inline-block;
  padding-right: 20px;
}
.price h2 {
  font-size: 30px;
}
.price h1 {
  font-size: 20px;
  color: hsl(26, 100%, 55%);
  background-color: hsl(26, 96%, 90%);
  border-radius: 5px;
  width: 50px;
  height: 30px;
  padding: 5px 6px;
  justify-content: center;
}
.price p {
  color: grey;
  padding-top: 10px;
  text-decoration: rgb(186, 186, 186) line-through;
  font-size: 16px;
}
.add-to-chart-btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  padding: 10px 80px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
.add-to-chart-btn:hover {
  filter: opacity(50%);
}
.icon-cart-2 {
  padding-right: 20px;
  width: 40px;
}
.add-to-chart {
  display: flex;
  width: 100%;
  gap: 60px;
  margin-top: 30px;
}
.amount-part {
  display: flex;
  width: 130px;
  height: 40px;
  gap: 20px;
  background-color: rgb(231, 230, 230);
  padding: 10px;
  border-radius: 10px;
  margin-top: 9px;
}
.minus-icon {
  padding: 7.5px;
}
.minus-icon:hover,
.plus-icon:hover {
  filter: opacity(40%);
}
.plus-icon {
  padding: 3px;
}
.amount {
  font-weight: bolder;
}
